

.order-form{
    max-width:600px;
    margin: 0 auto;
   background-color: #f9f9f9;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgb(0,0,0,0.1) ;
   text-align: center;
 ;
   }
   *{background-color: violet;}